<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>AGREGAR BECA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Ingrese una Categoria (Nacional / Internacional)" #categoria></ion-input>
          <ion-input type="text" placeholder="Ingrese un Nombre" #nombre></ion-input>
          <ion-input type="text" placeholder="Ingrese un Porcentaje de Financia" #porcentaje></ion-input>
          <ion-input type="text" placeholder="Ingrese un Pais" #pais></ion-input>
          <ion-input type="text" placeholder="Ingrese una Universidad" #universidad></ion-input>
          <ion-input type="text" placeholder="Ingrese uno o varios Requerimientos" #requerimientos></ion-input>
          <ion-button (click)="guardarBeca(categoria, nombre, porcentaje, pais, universidad)">
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
