<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BECAS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="salir()">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let beca of becas" [routerLink]="['/consultar', beca.id]">
      {{beca.nombre}}
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarBeca()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
