<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{beca.nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="eliminarBeca()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
    <ion-row>
      <ion-col>
        Nombre beca: {{beca.nombre}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Categoria: {{beca.categoria}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Porcentaje financiacion: {{beca.porcentajeFinancia}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Pais: {{beca.pais}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Universidad: {{beca.universidad}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Requerimientos: {{beca.requerimientos}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/tabs/tab1/editar', beca.id]">
          Actualizar
        </ion-button>
      </ion-col>
    </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
